# Node.js 전용 ignore

# 패키지
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# 빌드 / 캐시
dist/
build/
coverage/
.nyc_output/

# 환경 변수
.env
.env.*

# 에디터 / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

